name: Release Package

on:
  push:
    branches:
      - main
      - next

jobs:
  package_and_publish:
    name: Package and Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable
      - uses: arduino/setup-protoc@v1
      - name: enable protoc dart
        run: dart pub global activate protoc_plugin
      - name: release
        uses: cycjimmy/semantic-release-action@v3
        with:
          extra_plugins: |
            @semantic-release/exec
            @semantic-release/git
            @semantic-release/changelog
        env:
          GITHUB_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
          CREDENTIALS: ${{ secrets.PUB_DEV_CREDENTIALS }}
